* {
  margin: 0;
}

.app {
  background-color: white;
  background-image: linear-gradient(180deg, white, rgb(223, 223, 223));
  height: 100vh;
}

.app__header {
  padding: 5%;
  border-bottom: 1px solid lightgrey;
  object-fit: contain;
}

.app__headerImage{
  object-fit: contain;
  height:25%;
  width:25%;
}

